
<h1> All Math functions </h1>

<form action="min" method="post">
        <label for="nums"> enter numbers</label>
        <input type="text" name = "nums" value="" required>
        <br>
        <label for="quant"> enter quantifier</label>
        <input type="text" name = "quant" value="" required>
        <br>        
        <input type="submit" value = "MIN">
</form>

<form action="max" method="post">
        <label for="nums"> enter numbers</label>
        <input type="text" name = "nums" value="" required>
        <br>
        <label for="quant"> enter quantifier</label>
        <input type="text" name = "quant" value="" required>
        <br>
        <input type="submit" value = "MAX">
</form>

<form action="avg" method="post">
    <label for="nums"> enter numbers</label>
    <input type="text" name = "nums" value="" required>
    <br>
    <input type="submit" value = "AVG">
</form>

<form action="median" method="post">
    <label for="nums"> enter numbers</label>
    <input type="text" name = "nums" value="" required>
    <br>
    <input type="submit" value = "MEDIAN">
</form>

<form action="percentile" method="post">
    <label for="nums"> enter numbers</label>
    <input type="text" name = "nums" value="" required>
    <br>
    <label for="quant"> enter quantifier</label>
    <input type="text" name = "quant" value="" required>
    <br>
    <input type="submit" value = "PERCENTILE">
</form>